.addCard {
 width: 100%;
 background-color: white;
 height: 5rem;
 display: flex;
 justify-content: center;
 border-radius: 0.5rem;
 align-items: center;
 box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
 margin-bottom: 1rem;


}
.addButton {
    height: 50%;
    background-color: transparent;
    outline: none;
    border:none;
    font-size: 1.25rem;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #3ccfcf;
    font-family: inherit;
    
}

.addCard, .addButton:hover {
    cursor: pointer;

}
.addCard:hover .addButton{
    border-bottom-color: #ffcd1f;
}

.createAction {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
.createButton {

    height: 100%;
    width:  20%;
    background-color: #3ccfcf;
    border-style: none;
    border-radius: 0.25rem;
    color: white;
    font-size: 1.125rem;
    letter-spacing: .0625rem;
    font-weight: 600;
    font-family: inherit;
}
.createButton:hover {
    cursor: pointer;
    background-color: #53a4a6;
}
