.wrapList {
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.linkToFav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.linkToFav a {
    margin-right: 1rem;
    font-size: 0.8rem;
    text-decoration: none;

}
.linkToFav a:hover{
    color: #4554f7;
}


.wrapList{
    display: flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
   
}

@media (min-width: 800px) {
    .wrapList {
     
        justify-content: flex-start;
       
    }
}

@media (max-width: 800px) {
    .wrapList {
        justify-content: center;
    }
}
