div{
    height: 100%;
    width: 100%;
}

@media (min-width: 800px){

    .mobile{
        display: none;
    }
    .normal{
        display: block;

    }
}

@media (max-width: 800px){
    .mobile{
        display: block;
    }
    .normal{
        display: none;
    }
}