@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin-block-start: 0;
  list-style: none;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f8fb;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
}
